@font-face {
  font-family: 'Open Sans';

       // For all good browsers, including IE9.
  src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),

       // For older IE, and Android default browser.
       url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;

       // For all good browsers, including IE9.
  src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),

       // For older IE, and Android default browser.
       url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype');
}