/* line 4, ../sass/_reset.sass */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* line 98, ../sass/_reset.sass */
html,
body {
  height: 100%;
}

/* line 102, ../sass/_reset.sass */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 120, ../sass/_reset.sass */
b,
strong {
  font-weight: bold;
}

/* line 127, ../sass/_reset.sass */
img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* line 135, ../sass/_reset.sass */
ul,
ol {
  list-style: none;
}

/* line 139, ../sass/_reset.sass */
li {
  display: list-item;
}

/* line 146, ../sass/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 150, ../sass/_reset.sass */
th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

/* line 157, ../sass/_reset.sass */
q {
  quotes: none;
}

/* line 160, ../sass/_reset.sass */
q:before,
q:after {
  content: "";
  content: none;
}

/* line 165, ../sass/_reset.sass */
sub,
sup,
small {
  font-size: 75%;
}

/* line 170, ../sass/_reset.sass */
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 176, ../sass/_reset.sass */
sub {
  bottom: -0.25em;
}

/* line 179, ../sass/_reset.sass */
sup {
  top: -0.5em;
}

/* line 182, ../sass/_reset.sass */
svg {
  overflow: hidden;
}

/* line 9, ../sass/_text.sass */
body {
  font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}

/* line 12, ../sass/_text.sass */
pre,
code {
  font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace;
}

/* line 16, ../sass/_text.sass */
hr {
  border: 0 #cccccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* line 25, ../sass/_text.sass */
h1 {
  font-size: 25px;
}

/* line 28, ../sass/_text.sass */
h2 {
  font-size: 23px;
}

/* line 31, ../sass/_text.sass */
h3 {
  font-size: 21px;
}

/* line 34, ../sass/_text.sass */
h4 {
  font-size: 19px;
}

/* line 37, ../sass/_text.sass */
h5 {
  font-size: 17px;
}

/* line 40, ../sass/_text.sass */
h6 {
  font-size: 15px;
}

/* line 46, ../sass/_text.sass */
ol {
  list-style: decimal;
}

/* line 49, ../sass/_text.sass */
ul {
  list-style: disc;
}

/* line 52, ../sass/_text.sass */
li {
  margin-left: 30px;
}

/* line 55, ../sass/_text.sass */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}

/* line 10, ../sass/_formalize.sass */
.input_tiny {
  width: 50px;
}

/* line 13, ../sass/_formalize.sass */
.input_small {
  width: 100px;
}

/* line 16, ../sass/_formalize.sass */
.input_medium {
  width: 150px;
}

/* line 19, ../sass/_formalize.sass */
.input_large {
  width: 200px;
}

/* line 22, ../sass/_formalize.sass */
.input_xlarge {
  width: 250px;
}

/* line 25, ../sass/_formalize.sass */
.input_xxlarge {
  width: 300px;
}

/* line 28, ../sass/_formalize.sass */
.input_full {
  width: 100%;
}

/* line 34, ../sass/_formalize.sass */
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

/* line 41, ../sass/_formalize.sass */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 51, ../sass/_formalize.sass */
input:invalid,
button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 55, ../sass/_formalize.sass */
input:focus,
button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 63, ../sass/_formalize.sass */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 67, ../sass/_formalize.sass */
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #dddddd url('../images/button.png') repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: -ms-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  vertical-align: top;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0;
}
/* line 90, ../sass/_formalize.sass */
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -o-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -ms-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
}
/* line 92, ../sass/_formalize.sass */
button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #dddddd), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: -moz-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: -o-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: -ms-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-color: #999999 #bbbbbb #dddddd;
}
/* line 102, ../sass/_formalize.sass */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 106, ../sass/_formalize.sass */
button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

/* line 111, ../sass/_formalize.sass */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 1.8em;
  vertical-align: top;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}
/* line 148, ../sass/_formalize.sass */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
}

/* line 151, ../sass/_formalize.sass */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default;
}

/* line 168, ../sass/_formalize.sass */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888888;
}

/* line 172, ../sass/_formalize.sass */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888;
}

/* line 176, ../sass/_formalize.sass */
input.placeholder_text,
textarea.placeholder_text {
  color: #888888;
}

/* line 180, ../sass/_formalize.sass */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 187, ../sass/_formalize.sass */
select[size="0"],
select[size="1"] {
  height: 1.8em;
  *height: auto;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 195, ../sass/_formalize.sass */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 201, ../sass/_formalize.sass */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url('../images/select_arrow.gif?1298351050');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 209, ../sass/_formalize.sass */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    height: 16px;
  }

  /* line 222, ../sass/_formalize.sass */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border: 0;
  }
}
/* line 230, ../sass/_formalize.sass */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 236, ../sass/_formalize.sass */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 245, ../sass/_formalize.sass */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 272, ../sass/_formalize.sass */
.ie6_button,
* html button {
  background: #dddddd url('../images/button.png') repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  overflow: visible;
  width: auto;
}

/* line 284, ../sass/_formalize.sass */
* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

/* line 288, ../sass/_formalize.sass */
.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top;
}

/* line 300, ../sass/_formalize.sass */
* html select {
  margin-top: 1px;
}

/* line 303, ../sass/_formalize.sass */
.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888;
}

/* line 308, ../sass/_formalize.sass */
.ie6_input_disabled {
  background: #eeeeee;
}

/* line 1, ../sass/_site.sass */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 7, ../sass/_site.sass */
html {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 11, ../sass/_site.sass */
body {
  background-color: #222222;
  color: #333333;
  min-width: 320px;
  text-shadow: white 0 1px 0;
}

/* line 17, ../sass/_site.sass */
a {
  color: #0066cc;
  text-decoration: none;
}

/* line 25, ../sass/_site.sass */
.big {
  display: inline-block;
  font-size: 120%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* line 33, ../sass/_site.sass */
.mute {
  color: #bbbbbb;
}

/* line 39, ../sass/_site.sass */
#loading {
  color: #cccccc;
  font-size: 25px;
  line-height: 40px;
  margin-top: -20px;
  text-align: center;
  text-shadow: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

/* line 54, ../sass/_site.sass */
#error {
  display: none;
  line-height: 2;
  font-size: 16px;
  margin-top: -35px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

/* line 65, ../sass/_site.sass */
#error i {
  color: #cc3333;
}

/* line 71, ../sass/_site.sass */
#wrapper {
  background: #eeeeee;
  min-height: 100%;
}

/* line 75, ../sass/_site.sass */
div[role="main"] {
  padding-bottom: 50px;
}

/* line 81, ../sass/_site.sass */
header[role="banner"],
footer[role="contentinfo"] {
  background-color: #444444;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666666), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(#666666, #333333);
  background-image: -moz-linear-gradient(#666666, #333333);
  background-image: -o-linear-gradient(#666666, #333333);
  background-image: -ms-linear-gradient(#666666, #333333);
  background-image: linear-gradient(#666666, #333333);
  color: white;
  line-height: 50px;
  overflow: hidden;
  text-shadow: black 0 -1px 0;
  height: 50px;
}

/* line 91, ../sass/_site.sass */
header[role="banner"] img {
  float: left;
  margin: 14px 0 0 15px;
  height: 20px;
}

/* line 96, ../sass/_site.sass */
header[role="banner"] select {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: black #222222 #444444;
  float: right;
  margin: 14px 15px 0 0;
  padding-left: 10px;
}

/* line 104, ../sass/_site.sass */
footer[role="contentinfo"] {
  font-size: 11px;
  margin-top: -50px;
  text-align: center;
}

/* line 109, ../sass/_site.sass */
footer[role="contentinfo"] a {
  color: white;
  font-weight: bold;
}

/* line 116, ../sass/_site.sass */
#list {
  list-style: none;
  overflow: hidden;
}

/* line 120, ../sass/_site.sass */
#list,
#list li {
  margin: 0;
}

/* line 124, ../sass/_site.sass */
#list li {
  -webkit-box-shadow: inset white 0 1px 0 0;
  -moz-box-shadow: inset white 0 1px 0 0;
  box-shadow: inset white 0 1px 0 0;
  border-top: 1px solid #cccccc;
  overflow: hidden;
  padding: 20px 20px 0;
}

/* line 130, ../sass/_site.sass */
#list li:first-child {
  border-top: 0;
}

/* line 136, ../sass/_site.sass */
.frame {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  border: 1px solid;
  border-color: #cccccc #999999 #666666;
  display: block;
  margin: 5px -1px 0;
  width: 100%;
}

/* line 152, ../sass/_site.sass */
table {
  margin-bottom: 15px;
}

/* line 155, ../sass/_site.sass */
th,
td {
  padding-bottom: 5px;
}

/* line 159, ../sass/_site.sass */
th {
  color: #999999;
  padding-right: 10px;
  text-align: right;
  white-space: nowrap;
  width: 1%;
}

@media (min-width: 880px) {
  /* line 171, ../sass/_site.sass */
  body {
    width: 880px;
    margin: 0 auto;
  }

  /* line 175, ../sass/_site.sass */
  #list li {
    float: left;
    width: 400px;
    height: 36em;
  }

  /* line 180, ../sass/_site.sass */
  #list li:first-child + li {
    border-top: 0;
  }
}
@media (min-width: 1320px) {
  /* line 184, ../sass/_site.sass */
  body {
    width: 1320px;
  }

  /* line 187, ../sass/_site.sass */
  #list li:first-child + li + li {
    border-top: 0;
  }
}
